{#{% if attribute(attributes, 'addClass') is not defined %}#}
{#  {% set attributes = create_attribute(attributes|default({})) %}#}
{#{% endif %}#}
{#{{ link(title, href, attributes.addClass(['btn', 'btn-' ~ style])) }}#}


{# This SDC will inherit the global Button styles. #}
{# See 01-base/global/scss/general/_buttons.scss #}
{% if attributes.href is empty %}
  <span {{ attributes }}>{{ title }}</span>
{% else %}
  <a {{ attributes }}>{{ title }}</a>
{% endif %}
