<div>
  <div class="byline__image">
    {{ image }}
  </div>
  <div class="byline__author">
    <div class="byline__author-info">
      <h4 class="font-body fs-lead mb-2 text-primary"> {{ name }} </h4>
      <h5 class="font-body fs-md mb-0"> {{ job_title }} </h5>
    </div>
    <div class="byline__author-about">
      {{ bio }}
    </div>
  </div>
  <div class="byline__company">
    {{ company_logo }}
  </div>
</div>