{% set heading_level = heading_level|default(4) %}

<div{{ attributes.addClass(['ac', 'pt-4', 'border-b-1', 'border-black']) }}>
  <h{{ heading_level }} class="ac-header font-bold relative">
    <button class="ac-trigger w-full text-left flex items-center justify-between" type="button">
      {{ heading }}
    </button>
  </h{{ heading_level }}>
  <div id="{{ target_id }}" class="ac-panel overflow-hidden">
    <div class="ac-text text-formatted py-3">
        {{ body }}
    </div>
  </div>
</div>
