<section>
  <div class="bg-gray-100 py-12">
    <div class="container">
      <div class="inline-block border-2 border-black rounded-full py-1 px-4 uppercase text-sm">
        {{ category }}
      </div>
      <h1 class="h1 mt-6">{{ title }}</h1>
      <div class="flex items-center gap-2">
        {{ authors }}
        · <p> {{ publish_date }} </p>
    </div>
  </div>
</section>
<section class="container max-w-4xl my-12">
  <div class="text-formatted">
    {{ content }}
  </div>
</section>